#figure{width:20px}
.total{position:absolute;left:430px}
#button1{width:23.42px;height:21.33px}
#button2{width:27.86px;height:21p.33x}
#button3{width:27.86px;height:21.33px}
#button4{width:27.86px;height:21.33px}
#i2{width:50px;text-align: right}
#i1{width:74px;text-align: right;}
#ans{width:62px;text-align: right}
